
.product-container{
    width: 300px;
    height:510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    
    
}


.product-container img{
    border-radius: 8px;
    margin: 7px;

    width: 286px;
    height: 286px;
}
.btn-cart{
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-cart:hover{
    background-color: coral;
}